<section class="container-fluid footer-container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h2><%= lib.app_name %></h2>
      </div>
      <div class="col-lg-6 col-sm-12 footer-col-wrapper">
        <a href="https://github.com/abdalrhmanu" target="_blank">
          <img src="/images/github.svg" alt="">
        </a>
      </div>
    </div>
    <div class="row footer-lower-row">
      <div class="col-12">
        <%- include ('./translation') %>
      </div>
    </div>
  </div>
</section>