<style>
    .header-container-fluid{
        height: 10vh;
        box-shadow: 0 3px 6px #00000019;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 4;
        width: 100%;
        background-color: #fff;
    }

    .try-now-button{
        margin: auto;
        text-align: right;
    }

    .try-now-button a{
        background-color: #2196f3;
        color: #fff;
        text-decoration: none;
        padding: 12px 50px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
    }

    
    @media (max-width: 576px) {
        .try-now-button a{
            padding: 12px 23px;
        }
    }

</style>

<section class="container-fluid header-container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Connect</h2>
            </div>
            <div class="col-6 try-now-button">
                <div>
                    <a href="/newcall" target="_blank">Try For Free</a>
                </div>
            </div>
        </div>
    </div>
</section>