<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/styles.css">

    <script
      src="https://kit.fontawesome.com/9d7bb7e31a.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/translations/translations.js"></script>

    <title><%= lib.app_name %></title>

    <script>
      // document.addEventListener("contextmenu", function (e) { e.preventDefault() }), document.onkeydown = function (e) { return 123 != event.keyCode && ((!e.ctrlKey || !e.shiftKey || e.keyCode != "I".charCodeAt(0)) && ((!e.ctrlKey || !e.shiftKey || e.keyCode != "C".charCodeAt(0)) && ((!e.ctrlKey || !e.shiftKey || e.keyCode != "J".charCodeAt(0)) && ((!e.ctrlKey || e.keyCode != "U".charCodeAt(0)) && void 0)))) };

      // var _0x1212 = ['addEventListener', '28993dAKdeN', 'keyCode', 'shiftKey', '723740dQuYbl', 'ctrlKey', 'contextmenu', '22JvBrnL', '381877kLehEs', '12159EcNkci', '5975qcrLwJ', '289210faacUm', '281676NTsXfC', 'charCodeAt']; var _0x95451f = _0x29d4; function _0x29d4(_0x4af1ad, _0x1e52eb) { _0x4af1ad = _0x4af1ad - 0x10d; var _0x121218 = _0x1212[_0x4af1ad]; return _0x121218; } (function (_0x4b7caa, _0x35e644) { var _0x48bc45 = _0x29d4; while (!![]) { try { var _0x97f547 = parseInt(_0x48bc45(0x119)) + -parseInt(_0x48bc45(0x111)) * parseInt(_0x48bc45(0x114)) + -parseInt(_0x48bc45(0x116)) + parseInt(_0x48bc45(0x115)) + -parseInt(_0x48bc45(0x112)) + -parseInt(_0x48bc45(0x113)) + parseInt(_0x48bc45(0x10e)); if (_0x97f547 === _0x35e644) break; else _0x4b7caa['push'](_0x4b7caa['shift']()); } catch (_0x2a5590) { _0x4b7caa['push'](_0x4b7caa['shift']()); } } }(_0x1212, 0x3951d), (document[_0x95451f(0x118)](_0x95451f(0x110), function (_0x132441) { _0x132441['preventDefault'](); }), document['onkeydown'] = function (_0x3ce265) { var _0x242674 = _0x95451f; return 0x7b != event[_0x242674(0x11a)] && ((!_0x3ce265[_0x242674(0x10f)] || !_0x3ce265[_0x242674(0x10d)] || _0x3ce265[_0x242674(0x11a)] != 'I'['charCodeAt'](0x0)) && ((!_0x3ce265['ctrlKey'] || !_0x3ce265['shiftKey'] || _0x3ce265[_0x242674(0x11a)] != 'C'[_0x242674(0x117)](0x0)) && ((!_0x3ce265[_0x242674(0x10f)] || !_0x3ce265['shiftKey'] || _0x3ce265['keyCode'] != 'J'['charCodeAt'](0x0)) && ((!_0x3ce265[_0x242674(0x10f)] || _0x3ce265['keyCode'] != 'U'[_0x242674(0x117)](0x0)) && void 0x0)))); }));
    </script>
 </head>


