<div class="loader-wrapper">
    <div class="loader">
        <div class="load-line one"></div>
        <div class="load-line two"></div>
        <div class="load-line three"></div>
    </div>
</div>


<script>
    // Loader
    // TODO: Move to index
    let loader = document.querySelector('.loader-wrapper');
    window.addEventListener('load', () => {
        loader.style.display = "none";
    })
</script>