<div class="meeting-details-popup">
    <div class="row">
      <div class="col-10"><h3>Your meeting's ready</h3></div>
      <div class="col-2 meeting-details-icons"><i class="fas fa-times"></i></div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Share the meeting link with others so that they are able to join.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-10 meeting-details-url" id="room-url">http://localhost:3000/meeting-room?id=HappyWrench&name=usama</div>
      <div class="col-2 meeting-details-icons"><i class="far fa-copy"></i></div>
    </div>
    <div class="row"><div class="col-12"><p>Joined as email@gmail.com</p></div></div>
</div>