<%
var data = [
    {
        head:"Make one-to-one calls",
        url:"/images/landing/user-friends-solid.svg",
        data:"Create a peer-to-peer connection with low latency with anyone, anywhere at anytime."
    },
    {
        head:"Various features",
        url:"/images/landing/podcast-solid.svg",
        data:"You will be able to share screen, real-time messaging, live captioning, and more!"
    },
    {
        head:"End-to-end Encryption",
        url:"/images/landing/shield-alt-solid.svg",
        data:"Your calls and messages stay private and can only be seen by you and the person you're talking with."
    },
    {
        head:"No download, only a browser.",
        url:"/images/landing/browser.svg",
        data:"Your meeting will only be available through your browser, no apps to be downloaded."
    }
]

%>
<section class="container-fluid features-container-fluid">
<div class="container">
    <div class="row">
        <div class="col-12 features-col-wrapper">
            <h2 class="lang">Getting Started</h2>
        </div>
    </div>
    <div class="row features-row">        
    <% for (var i=0; i < data.length; i++ ) { %>
        <div class="col-lg-6 col-sm-12">
            <div class="features-wrapper">
                <h3 class="lang">
                    <%= data[i].head %>
                </h3>
                <div class="features-box">
                    <span class="img-wrapper">
                    <img src="<%= data[i].url %>" alt="icon">
                    </span>
                    <span>
                    <p class="lang">
                        <%= data[i].data %>
                    </p>
                    </span>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
</section>