<section class="container-fluid landing-hero-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 landing-hero-col">
                <h1 class="lang" key="homepage_hero_title"><%= lib.landing_main_description %></h1>
                <h4 class="lang" key="homepage_hero_description"><%= lib.landing_sub_description %></h4>
            </div>
            <div class="col-lg-6 col-sm-12 landing-hero-col">
                <!-- ICON  -->
                <img src="/images/landing/landing-page-hero.svg" alt="hero-img">
            </div>
        </div>
        <div class="row">
            <div class="col-12 landing-hero-col">
                <a class="lang" href="/new-call" target="_blank" key="homepage_try_button"><%= lib.button_try_for_free %></a>
            </div>
        </div>
    </div>
</section>