# Required for all uses
# It takes 2 mins to get a free twilio account www.twilio.com/referral/iHGv3Z, use the following link to receive $10 credit for using the service.
# Fill in your credentials below and rename this file to .env

TWILIO_ACCOUNT_SID=
LOCAL_AUTH_TOKEN=


# Github oAuth keys
GITHUB_CLIENT_ID=
GITHUB_SECRET=
