<!DOCTYPE html>
<html lang="en">
  <!-- Head: DON'T DELETE -->
  <% include partials/head %>

  <body class="body">

    <% include partials/header %>


    <section class="container-fluid home-hero-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="row">
              <h1>Simple, yet powerful <br> online conferencing rooms.</h1>
              <h3>Run your team's weekly sprints and tasks. Deliver priorities, synced to Git, in one modern interface.</h3>
            </div>
            <div class="row">
              <a href="/join-meeting">Get Started - It's Free</a>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <video autoplay playsinline muted loop src="https://tara.ai/static/TaraPreview-dcd15109f68f55d6a5f9953e3a49aacf.mp4"></video>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>


  </body>
</html>
