<!DOCTYPE html>
<html lang="en">
<!-- Head: DON'T DELETE -->
<%- include ('partials/head') %>

<style>

    body, html{
        height: 100%;
        font-family: 'Open Sans';
    }
</style>

    <body class="body">
        <!-- Page Header -->
        <%- include ('partials/header') %>

        <!-- Join Call Hero Section -->
        <%- include ('partials/join-call/join-call-hero') %>
    </body>
</html>