<!DOCTYPE html>
<html lang="en">
    <!-- Head: DON'T DELETE -->
    <% include partials/head %>

    <body class="body">
    
        <!-- Header -->
        <% include partials/header %>

        <!-- Hero Section -->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 join-meeting-hero">
                        <div>
                            <h1>Pick a call name.</h1>
                            <h1>Lock with a password.</h1>
                            <h1>Start Meeting.</h1>
                        </div>
                        <div>
                            <p>Each meeting room can be encrypted with a passowrd for having a more private meeting. Meeting rooms without password set can be accessed by public.</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6"></div>

                </div>
            </div>
        </div>

        <!-- Call Name Section -->
        <section class="container-fluid call-name-section">
            <div class="container">
                <!-- <div class="row"> -->
                    <div class="call-name-div">
                        <div class="call-name-logan">
                            <div >
                                <h3>Let's start by picking a call name. <br>
                                Here is a suggestion of mine.</h3>
                            </div>
                        </div>
                        <div class="call-name-logan">
                            <div class="row call-name-logan-subcol">
                                <div class="col-6">
                                    <span>Meeting Room Name</span>
                                </div>
                                <div class="col-6">
                                    <span>
                                        <input type="text" name="" id="input-01">
                                    </span>
                                </div>
                                
                            </div>
                            <div class="row call-name-logan-subcol">
                                <div class="col-6">
                                    <span>Meeting Room Password</span>
                                </div>

                                <div class="col-6">
                                    <span>
                                        <input type="password" name="" id="">
                                    </span>
                                </div>
                               
                            </div>
                            
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </section>






        <!-- 
            <div>
                <input id="input-01"></input>
            </div>
         -->

    
    </body>

    <script src="javascripts/room-name-picker.js"></script>

</html>