<!DOCTYPE html>
<html lang="en">
    <!-- Head: DON'T DELETE -->
    <%- include ('partials/head') %>
<body class="body">

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> -->


    <style>
        .body{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .login-wrapper{
            z-index: 222;
            opacity: .85;
            /* backdrop-filter: blur(1px); */
            -webkit-backdrop-filter: blur(1px);
            position: absolute;
            display: flex;
            width: 80vw;
            height: 75vh;
            min-height: 80vh;
            border-radius: 20px;
            /* background-color: #1a1d1e;
            background-color: #17191a; */
            overflow: hidden;
            /* box-shadow: 0 10px 30px rgb(0 0 0 / 3%); */
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    </style>
           
    <!-- <script>
        window.addEventListener("DOMContentLoaded", () => {

            const firebaseConfig = {
                apiKey: "AIzaSyA9sH1uJ0NrdyiiDpNV-NNDrdxoxvPYvU4",
                authDomain: "meet-video-conferencing.firebaseapp.com",
                projectId: "meet-video-conferencing",
                storageBucket: "meet-video-conferencing.appspot.com",
                messagingSenderId: "430024449554",
                appId: "1:430024449554:web:c0bcf079f510876bbf02cb"
            };
            firebase.initializeApp(firebaseConfig);

            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);


            document
            .getElementById("login")
            .addEventListener("submit", (event) => {
              event.preventDefault();
              const login = document.getElementById('email').value;
              const password = document.getElementById('password').value;

              firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .then(({ user }) => {
                  return user.getIdToken().then((idToken) => {
                    return fetch("/auth/api/sessionLogin", {
                      method: "POST",
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                      },
                      body: JSON.stringify({ idToken }),
                    });
                  });
                })
                .then(() => {
                  return firebase.auth().signOut();
                })
                .then(() => {
                  window.location.assign("/join-meeting");
                }, (error) =>{
                    Snackbar.show({
                      text: error.message,
                      width: "750px",
                      pos: "top-center",
                      actionTextColor: "#616161",
                      duration: 500000,
                      backgroundColor: "#16171a",
                    });
                });
              return false;
            });

        });
      </script> -->
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        

    </div>
<div class="login-wrapper">
    <section class="container-fluid" style="    max-width: 640px;
        height: 640px;
        display: flex;
        align-items: center;">
        <div class="container">
            <div class="row">
                <a href="/auth" class="button-wrapper" style="    width: 100%;
                    margin: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    background-color: rgb(51, 51, 51);
                    text-decoration: none;
                    cursor: pointer;">
                    <img style="margin: 10px;" src="/images/github-dark.svg" alt="">
                    <span>Log in with GitHub</span>
                </a>
            </div>
        </div>
    </section>
</div>
      <script src="javascripts/snackbar.js"></script>
</body>
</html>