<!-- For users whome are joining by link, for them to prepare camera and audio, and enter password -->
<!DOCTYPE html>
<html lang="en">
    <% include  partials/head%>

<body class="body body-container">
    <div>
        <video id="onboarding-video" autoplay muted playsinline></video>
    </div>

    <div class="onboarding-button-container">
        <a>Ask to join.</a>
    </div>


    <!-- <script src="/javascripts/onboarding-room.js"></script> -->
</body>
</html>