<!DOCTYPE html>
<html lang="en">
<!-- Head: DON'T DELETE -->
<%- include ('partials/head') %>

    <style>
        body,
        html {
            height: 100%;
            font-family: 'Open Sans';
        }
    </style>

    <body class="body">
        <!-- Loader  -->
        <%- include ('partials/loader') %>
        
        <!-- Page Header -->
        <%- include ('partials/header') %>

            <!-- Join Call Hero Section -->
            <%- include ('partials/new-call/new-call-hero') %>
    </body>
    
    <script src="/javascripts/room-name-picker.js"></script>

</html>