<!DOCTYPE html>
<html lang="en">
<!-- Head: DON'T DELETE -->
<%- include ('partials/head') %>

    <style>
        body{
            background-color: #f3f2ef;
            color: #191919;
            min-height: 100vh;
            position: relative;
        }
        .profile-wrapper{
                margin: 0 auto;
            max-width: 1760px;
            min-height: 101vh;
            position: relative;
        }

        .profile-card{
            position: relative;
            z-index: 2;
        }

        .profile-content{
            -webkit-transition: margin-top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: margin-top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        }

        .profile-banner{
            -webkit-box-align: center;
            align-items: center;
            background-color: #4b4b4b;
            color: #ebebeb;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-transition: background-color 0.15s linear, height 0.65s cubic-bezier(0.19, 1, 0.22, 1);
            transition: background-color 0.15s linear, height 0.65s cubic-bezier(0.19, 1, 0.22, 1);
        }

        .profile-banner .banner-img{
            background-position: center;
            background-size: cover;
            bottom: 0;
            height: 100%;
            left: 0;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: opacity 0.25s linear;
            transition: opacity 0.25s linear;
            width: 100%;
        }

        @media (min-width: 1201px){
            .profile-wrapper {
                -webkit-box-align: start;
                align-items: flex-start;
                display: -webkit-box;
                display: flex;
                padding: 60px 50px 50px;
            }
            .profile-card{
                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0 0 3px rgb(0 0 0 / 20%);
                flex-shrink: 0;
                width: 360px;
            }
            .profile-content{
                -webkit-box-flex: 1;
                flex: 1;
                margin: 149px 0 50px 50px;
            }
            .profile-banner{
                height: 210px;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
            }
        }

        
        @media (min-width: 604px){
            .profile-card{
                padding: 25px 30px 16px;

                
            }
        }

        @media ( max-width: 604px ){
            .profile-card{
                padding: 0 20px;

                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0 0 3px rgb(0 0 0 / 20%);
                flex-shrink: 0;
            }
            
            .profile-banner{
                height: 90px;
            }
        }

        @media (min-width: 1201px) and (max-width: 1488px){
            .profile-wrapper{
                max-width: 1338px;
            }
        }
    </style>

    <body class="body">
        <!-- Loader  -->

        <div class="profile-header" style="background-color: #fff; height: 57px; width: 100%;">
            
        </div>

        <div class="profile-banner" style="margin-top: 57px;">
            <img class="banner-img" src="https://mir-s3-cdn-cf.behance.net/77f673584667987b590051d4ba0ad9af/830b4d3f-baa6-4056-a9c9-63904c87b7a3_rwc_0x590x1600x249x1600.jpg?h=3014108a4eed5c78123013c2fc00af69" alt="">
        </div>
        
        <div class="profile-wrapper">
            <div class="profile-card">
                hello world
                hello worldhello worl
                dhello worldhello
                 world
                hello world
                
                hello world

            </div>
            <div class="profile-content">
                hello 2
            </div>
        </div>



    </body>


</html>