@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: #16171b;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

/* Streaming Section start */

.streaming-container {
    width: 100vw;
    color: #fff;
    height: calc(100vh - 70px);
    display: flex;
}

.video-streaming-container {
    width: 100%;
}

.local-video {
    position: fixed;
    top: 40px;
    left: 70px;
    width: fit-content;
    height: 200px;
    width: 200px;
    background: #16171b;
    color: #000;
    border-radius: 8px;
    z-index: 4;
    max-width: 160px;
    object-fit: cover;
}

.remote-video {
    position: relative;
    top: -120px;
    height: 100%;
    width: 100%;
    height: 100%;
    min-height: 120%;
    object-fit: cover;
}

.chat-container {
    width: 0%;
    background: #fff;
    color: #000;
    display: none;
    z-index: 4;
}

.show-chat {
    display: block;
    width: 30%;
}

.resize-stream-container {
    width: 70%;
}

@media (max-width: 576px) {
    .show-chat {
        width: 100%;
    }

    .resize-stream-container {
        width: 0%;
    }

    .local-video {
        height: 200px;
        width: 150px;
        top: 40px;
        left: 30px;
    }

    .local-video {
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        opacity: 0.1;
    }

    .video-streaming-container:active> .local-vide-container .local-video {
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        opacity: 1.0;
    }
}


/* Controllers Section start*/
.controllers-container {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    z-index: 4;
}

.controllers-wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.controllers-block div,
.controllers-block p,
.controllers-block i {
    cursor: pointer;
    text-align: center;
}

.centered-controllers {
    display: flex;
    width: 24%;
}

.middle-controllers-block {
    border-radius: 25px;
    margin: 20px;
    padding: 15px 18px;
    width: 50px;
    height: 20px;
    box-shadow: 0px 3px 30px #00000019;
    border: 1px solid #dadce0;
    color: #5f6368;
}

.video-controller-button,
.end-call-controller-button {
    padding: 15px 15px;
}

.end-call-controller-button {
    background: #c1121f;
    color: #fff;
}

.end-call-controller-button:hover {
    background: #780000;
}

.mute-text, .end-call-text, .video-text{
    display: none;
    position: absolute;
    z-index: 4;
    left: 40.1vw;
    font-size: 10px;
    background: #7d7d7d;
    /* border-radius: 8px; */
    opacity: 0.9;
    color: #fff;
    top: -21px;
    padding: 5px 12px;
}

.end-call-text{
    left: 48.1vw;;
}

.video-text{
    left: 56.1vw;
}

.mute-hover:hover + .mute-text{
    display: block;
}

.end-call-controller-button:hover + .end-call-text{
    display: block;
}

.video-controller-button:hover + .video-text{
    display: block;
}

@media (max-width: 576px) {

    .d-none-xs {
        display: none;
    }

}

/* Controllers section end */

/* Chat section start */
.message-container{
    height: 100%;
    padding: 20px;
    overflow: auto;
    font-size: 12px;
    height: 85%;
}

.message-wrapper{
    margin-top: 20px;
}

.message-head{
    margin-bottom: 10px;
}

.message-head span{
    margin-right: 10px;
}

.message-head .sender-name{
    font-weight: 600;
}

.message-head .sender-time{
    margin-right: 10px; 
    font-weight: 100; 
    font-size: 10px;
}

.input-message-container{
    height: 2.5%; 
    padding: 20px; 
    font-size: 12px; 
    box-shadow: 0px -7px 6px #00000019;
}

.input-message-container .input-row{
    width: 100%; 
    display: inline-flex;
    align-items: center;
}

.input-box-container{
    width: 88%;
}

.input-box{
    height: 22px;
    border: 0;
    outline: none;
    padding: 4px;
    width: 88%;
}

.input-box:focus{
    border-bottom: 1px solid #5f6368;
}

.send-icon{
    color: #5f6368;
    font-size: 19px; 
    cursor: pointer;
}

/* Chat section ends */

/* Captions section start */
.caption-container{
    position: relative;
    bottom: 110px;
    text-align: center;
    height: fit-content;
    width: 80%;
    margin: auto;
    word-wrap: break-word;
    color: #fff;
}

/* Caption section ends */