<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multiple Languages with Jquery</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var lang;
            var translations = JSON.parse(localStorage.getItem('translations'));
            var lang_temp;
            var index;

            // Check if translation exists, then auto translate the page based on last selection
            if(translations){
                index = localStorage.getItem('langIndex');
                $('#lang-controller>option:eq('+index+')').prop('selected', true);
                translate();
            }

            // New translation selected
            $('select.lang-wrapper').change(function () {
                lang = $(this).children('option:selected').attr('id');
                index = $(this).children('option:selected').attr('index');

                if (!translations) {
                    getLang();
                    
                }else{
                    var lang_temp = localStorage.getItem('lang');

                    // translations exists
                    if(lang_temp != lang){
                        localStorage.clear();
                        getLang();
                    }else{
                        console.log("here")
                        translate();
                    }
                }
            });

            function translate(){
                // Will loop as many elements as found on the page with class .lang to translate them
                $('.lang').each(function (index, item) {
                    $(this).text(translations[$(this).attr('key')]);
                });
            }

            function getLang(){
                $.getJSON('translations/' + lang + '.json', function (data) {
                    translations = data;
                    lang_temp = lang;
                    localStorage.setItem('translations', JSON.stringify(translations));
                    localStorage.setItem('lang', lang_temp);
                    localStorage.setItem('langIndex', index);

                    translate();
                });
            }
        });

    </script>
</head>

<body>

    
    <form>
        <label>Select a language:</label>
        <select class="lang-wrapper" id="lang-controller">
            <option index="0" id="en" value="usa">English</option>
            <option index="1" id="km" value="india">ខ្មែរ</option>
            <option index="2" id="ar" value="arabic">Arabic</option>
        </select>
    </form>
    
    <ul>
        <li class="lang" key="home">Home</li>
        <li class="lang" key="about">About Us</li>
        <li class="lang" key="contact">Contact Us</li>
    </ul>
    <p class="lang" key="desc">This is my description</p>

</body>

</html>